.heading
{
    font-size: 40px;
    border-radius: 10px;
    letter-spacing: 10px;
    width: 80%;
}

body 
{
    color:rgba(223, 11, 11, 0.944);
    background-color: rgb(52, 52, 255);
}

#camera, #result
{
    width:350px;
    height:300px;
    border: 3px dotted white;
}

span
{
    font-size: 30px;
}